form {

    input, textarea {
        border-radius: 5px;
        border: 1px $gray-400 solid;
        padding: 0.7rem 0 0.7rem 1rem;

        &.field-validation-error {
            border: 1px $danger solid;
        }

        &.field-validation-valid {
            border: 1px $success solid;
        }
    }

    span {

        &.field-validation-error {

            @include text-xs;
            color: $danger;
        }
    }

    .form-group {
        display: grid;
        gap: 0.5rem;

        label {
            font-weight: 600;
        }
    }

    .form-group-checkbox {
        display: flex;
        gap: 0.5rem;
        width: 100%;
    }
}

.dark-mode {

    form {
        input, textarea {
            background-color: #191D27;
            border-color: #75777D;
        }

        &.field-validation-error {
            border: 1px $danger solid;
        }

        &.field-validation-valid {
            border: 1px $success solid;
        }
    }

    span {

        &.field-validation-error {

            @include text-xs;
            color: $danger;
        }
    }

    .form-group {

        label {
            color: $white;
        }
    }

    .form-group-checkbox {

        label {
            color: $gray-500;
        }
    }
}
