.account-details {

    .container {
        gap: 5rem;

        @include lg {
            display: flex;
        }
    }

    .profile {
        display: none;

        @include lg {
            display: block;
            margin-bottom: 2rem;
            text-align: center;

            img {
                width: 40%;
                border-radius: 50%;
            }
        }
    }

    .profile-container {
        display: flex;
        justify-content: center;

        @include lg {
            width: 25%;
            border-right: 1px solid $gray-400;
            display: block;
        }
    }

    .nav-holder {
        display: flex;
        gap: 2rem;
        width: 100%;
        justify-content: space-evenly;

        span {
            display: none;
        }

        i {
            font-size: 22px;
        }

        @include md {

            span {
                display: block;
            }

            i {
                font-size: 16px;
            }

            a {
                display: flex;
                gap: 0.5rem;
                align-items: center;
            }
        }

        @include lg {
            flex-direction: column;
        }
    }
}
