.sign-in {
    padding-top: 10rem;

    .container {
        display: grid;
    }

    .grid-container {
        width: 40%;
        justify-self: center;
    }

    h1 {
        margin-bottom: 1rem;
    }

    .sign-in-form {
        display: grid;
        gap: 1rem;
    }

    a {
        text-align: center;
    }

    .field-validation-error {
        text-align: center
    }
}
