<section class="contact">
        <div class="container">
            <div><p class="text-s"><i class="fa-light fa-house"></i> Home <i class="fa-light fa-angles-right"></i> Contact</p></div>
            <div class="contact-container">
                <h1>Contact Us</h1>
                
                <div class="content-holder">
                    <div class="icon-holder"><i class="fa-light fa-envelope"></i></div>
                    <div class="text-holder">
                        <h4>Email us</h4>
                        <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                        <p><span>Leave a message <i class="fa-light fa-arrow-right"></i></span></p>
                    </div>
                </div>

                <div class="content-holder">
                    <div class="icon-holder"><i class="fa-light fa-users-medical"></i></div>
                    <div class="text-holder">
                        <h4>Careers</h4>
                        <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                        <p><span>Send an application <i class="fa-light fa-arrow-right"></i></span></p>
                    </div>
                </div>

            </div>
            <div class="form-holder">
                <form action="">
                    <h2>Get In Contact With Us</h2>
                    <div>
                        <label class="h6" for="">Full name</label>
                        <input type="text" name="" placeholder="Enter your full name">
                    </div>
                    <div>
                        <label class="h6" for="">Email address</label>
                        <input type="text" name="" placeholder="Enter your email address">
                    </div>
                    <div>
                        <label class="h6" for="">Service (optional)</label>
                        <input type="text" name="" placeholder="Enter your email address">
                    </div>
                    <div>
                        <label class="h6" for="">Message</label>
                        <textarea placeholder="Enter your message here..."></textarea>
                    </div>
                    <button class="btn-theme">Send Contact Request</button>
                </form>
            </div>
        </div>
    </section>

    <section class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.7499992479743!2d-73.9811172833461!3d40.767523021201384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258f63a2b3a0f%3A0xcc6301f5e3cd955b!2sColumbus%20Circle!5e0!3m2!1ssv!2sse!4v1708431743719!5m2!1ssv!2sse" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
