<section class="all-courses">
    <div class="container">
        <div>
            <div>
                <a href="#">Home</a><i class="fa-light fa-angles-right"></i><a href="#">Courses</a>
            </div>
            <div class="title-holder">
                <h1>Courses</h1>
                <div class="input-wrapper">
                    <div class="input-holder"><input type="text"><button><i class="fa-light fa-angle-down"></i></button></div>
                    <div class="input-holder"><input type="search"><button><i class="fa-light fa-magnifying-glass"></i></button></div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-item">
                    <div><img src="~/images/courses/webdevcomputer.svg" alt=""></div>
                    <div class="text-holder">
                        <div class="top-holder">
                            <h5>Fullstack Web Developer Course from Scratch</h5>
                            <p class="author">By Robert Fox</p>
                            <p class="price">12.50</p>
                        </div>
                        <div class="bottom-holder">
                            <div class="time">
                                <i class="fa-light fa-clock"></i>
                                <p>220 hours</p>
                            </div>
                            <div class="rating">
                                <i class="fa-light fa-thumbs-up"></i>
                                <p>94% (4,2k)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div><img src="~/images/courses/webdevcomputer.svg" alt=""></div>
                    <div class="text-holder">
                        <div class="top-holder">
                            <h5>Fullstack Web Developer Course from Scratch</h5>
                            <p class="author">By Robert Fox</p>
                            <p class="price">12.50</p>
                        </div>
                        <div class="bottom-holder">
                            <div class="time">
                                <i class="fa-light fa-clock"></i>
                                <p>220 hours</p>
                            </div>
                            <div class="rating">
                                <i class="fa-light fa-thumbs-up"></i>
                                <p>94% (4,2k)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div><img src="~/images/courses/webdevcomputer.svg" alt=""></div>
                    <div class="text-holder">
                        <div class="top-holder">
                            <h5>Fullstack Web Developer Course from Scratch</h5>
                            <p class="author">By Robert Fox</p>
                            <p class="price">12.50</p>
                        </div>
                        <div class="bottom-holder">
                            <div class="time">
                                <i class="fa-light fa-clock"></i>
                                <p>220 hours</p>
                            </div>
                            <div class="rating">
                                <i class="fa-light fa-thumbs-up"></i>
                                <p>94% (4,2k)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-item">
                    <div><img src="~/images/courses/webdevcomputer.svg" alt=""></div>
                    <div class="text-holder">
                        <div class="top-holder">
                            <h5>Fullstack Web Developer Course from Scratch</h5>
                            <p class="author">By Robert Fox</p>
                            <p class="price">12.50</p>
                        </div>
                        <div class="bottom-holder">
                            <div class="time">
                                <i class="fa-light fa-clock"></i>
                                <p>220 hours</p>
                            </div>
                            <div class="rating">
                                <i class="fa-light fa-thumbs-up"></i>
                                <p>94% (4,2k)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-content">
                <p>Ready to get started?</p>
                <h1>Take Your <span>Skills</span> to the Next Level</h1>
                <button class="btn-theme">Work with us</button>
                <img src="~/images/courses/officeimage.svg" alt="">
            </div>
        </div>
    </div>
</section>
