<section class="missing-page">
    <div class="container">
        <img id="404page" src="~/images/home/404page/404-light.svg" alt="">
        <h2 class="d5">Ooops!</h2>
        <p>The page you are looking for is not available</p>
        <button class="btn-theme" asp-controller="Home" asp-action="Index ><i class="fa-light fa-house"></i>Go to homepage</button>
    </div>
</section>
