<section id="showcase">
	<partial name="~/Views/Shared/Sections/Home/_ShowcasePartial.cshtml" />
</section>

<section id="features">
	<partial name="~/Views/Shared/Sections/Home/_FeaturesPartial.cshtml" />
</section>

<section id="Themes">
	<partial name="~/Views/Shared/Sections/Home/_ThemesPartial.cshtml" />
</section>

<section id="Manager">
	<partial name="~/Views/Shared/Sections/Home/_ManagerPartial.cshtml" />
</section>

<section id="Integrate">
	<partial name="~/Views/Shared/Sections/Home/_IntegratePartial.cshtml" />
</section>

<section id="Subscribe">
	<partial name="~/Views/Shared/Sections/Home/_SubscribePartial.cshtml" />
</section>

