<section class="sign-up">
    <div class="container">
        <div>
            <form action="">
                <h1>Create Account</h1>
                <p>Already have an account? <a asp-controller="Account" asp-action="SignIn">Sign in here.</a></p>
                <div class="name-holder">
                    <div>
                        <label for="">First name</label>
                        <input type="text" name="" placeholder="Enter your first name">
                    </div>

                    <div>
                        <label for="">Last name</label>
                        <input type="text" name="" placeholder="Enter your last name">
                    </div>
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="text" name="" placeholder="Enter your email address">
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="text" name="" placeholder="*******">
                </div>
                <div>
                    <label for="">Confirm Password</label>
                    <input type="text" name="" placeholder="*******">
                </div>
                <div class="checkbox-holder">
                    <input type="checkbox" name="" id="">
                    <p>I agree to the <a href="#">Terms</a> & <a href="#">Conditions</a></p>
                </div>
                <button class="btn-theme">Sign up</button>
            </form>
        </div>
    </div>
</section>

