<section class="sign-in">
    <div class="container">
        <div>
            <h1>Welcome Back</h1>
            <p>Don't have an account yet? <a asp-controller="Account" asp-action="SignUp">Sign up here.</a></p>
            <form action="">
                <div>
                    <label for="">Email</label>
                    <input type="text" name="" placeholder="Enter your email address">
                </div>
                <div>
                    <label for="">Password</label>
                    <input type="text" name="" placeholder="*******">
                </div>
                <div class="checkbox-holder">
                    <input type="checkbox" name="" id="">
                    <p>Remember me</p>
                </div>
                <button class="btn-theme">Sign in</button>
                <a href="">Forgot your password?</a>
            </form>
        </div>
    </div>
</section>