@inject SignInManager<UserEntity> _signInManager;

<div class="container">
	<a id="logo" asp-controller="Home" asp-action="Index"><img id="logo-img" src="~/images/header/logo-light.svg" alt="Logo" /></a>
	<div id="mobile-menu" class="mobile-menu-closed">
		<button class="close-btn"><i class="fa-light fa-xmark"></i></button>
		<nav class="menu">
			<a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="overview">Overview</a>
			@if (_signInManager.IsSignedIn(User))
			{
				<a class="menu-link" asp-controller="Home" asp-action="Courses">Courses</a>
			}
			else
			{
				<a class="menu-link" asp-controller="Home" asp-action="Index" asp-fragment="features">Features</a>
			}
			<a class="menu-link" asp-controller="Home" asp-action="Contact">Contact</a>
		</nav>

		<div class="btn-switch">
			<label>Light</label>
			<label class="switch" for="switch-mode">
				<input type="checkbox" id="switch-mode" />
				<span class="slider round"></span>
			</label>
			<label>Dark</label>
		</div>

		@if (_signInManager.IsSignedIn(User))
		{
			<div class="profile-image">
				<a asp-controller="Account" asp-action="Account"><img src="~/images/profile-image.png" alt=""></a>
			</div>
		}
		else
		{
			<div class="account-buttons">
				<a class="btn-gray" asp-controller="Authentication" asp-action="SignIn"><i class="fa-regular fa-right-to-bracket"></i><span>Sign In</span></a>
				<a class="btn-theme" asp-controller="Authentication" asp-action="SignUp"><i class="fa-regular fa-user"></i><span>Sign Up</span></a>
			</div>
		}
	</div>
	<button id="btn-open" class="btn-mobile"><i class="fa-regular fa-bars"></i></button>
</div>
<script src="~/js/menu.js"></script>
