<div class="saved-courses-container">
    <div class="title-holder">
        <h2>Saved Items</h2>
        <button><i class="fa-light fa-trash-can"></i> Delete all</button>
    </div>
    <div class="grid-container">
        <div class="grid-item">
            <div><img src="~/images/courses/webdevcomputer.svg" alt=""></div>
            <div class="text-holder">
                <div class="top-holder">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="author">By Robert Fox</p>
                    <p class="price">12.50</p>
                </div>
                <div class="bottom-holder">
                    <div class="time">
                        <i class="fa-light fa-clock"></i>
                        <p>220 hours</p>
                    </div>
                    <div class="rating">
                        <i class="fa-light fa-thumbs-up"></i>
                        <p>94% (4,2k)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div><img src="~/images/courses/webdevcomputer.svg" alt=""></div>
            <div class="text-holder">
                <div class="top-holder">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="author">By Robert Fox</p>
                    <p class="price">12.50</p>
                </div>
                <div class="bottom-holder">
                    <div class="time">
                        <i class="fa-light fa-clock"></i>
                        <p>220 hours</p>
                    </div>
                    <div class="rating">
                        <i class="fa-light fa-thumbs-up"></i>
                        <p>94% (4,2k)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-item">
            <div><img src="~/images/courses/webdevcomputer.svg" alt=""></div>
            <div class="text-holder">
                <div class="top-holder">
                    <h5>Fullstack Web Developer Course from Scratch</h5>
                    <p class="author">By Robert Fox</p>
                    <p class="price">12.50</p>
                </div>
                <div class="bottom-holder">
                    <div class="time">
                        <i class="fa-light fa-clock"></i>
                        <p>220 hours</p>
                    </div>
                    <div class="rating">
                        <i class="fa-light fa-thumbs-up"></i>
                        <p>94% (4,2k)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
