@model AccountViewModel;

<div class="security-container">
    <h2>Security</h2>
    <div>
        <h5>Password</h5>
        <form class="password">
            <div class="form-group">
                <label asp-for="Security.CurrentPassword"></label>
                <input type="password" asp-for="Security.CurrentPassword">
            </div>

            <div class="form-group">
                <label asp-for="Security.NewPassword"></label>
                <input type="password" asp-for="Security.NewPassword">
            </div>

            <div class="form-group">
                <label asp-for="Security.ConfirmPassword"></label>
                <input type="password" asp-for="Security.ConfirmPassword">
            </div>

            <div class="btn-holder">
                <button class="btn-gray">Cancel</button>
                <button class="btn-theme">Change Password</button>
            </div>
        </form>
    </div>
    <div class="delete">
        <h5>Delete Account</h5>
        <p>When you delete your account, your public profile will be deactivated immediately. If you change your mind before the 14 days are up, sign in with your email and password, and we’ll send you a link to reactivate your account.</p>
        <div class="input-holder"><input type="checkbox"><p>Yes, I want to delete my account.</p></div>
        <div><button class="btn-gray">Delete</button></div>
    </div>
</div>
