.sign-up {

    .container {
        display: grid;
    }

    .grid-container {
        width: 40%;
        justify-self: center;
    }

    h1, p {
        margin-bottom: 1rem;
    }

    .sign-up-form {
        display: grid;
        gap: 1rem;

        @include lg {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
            "firstName lastName"
            "email email"
            "password password"
            "confirmPassword confirmPassword"
            "checkbox checkbox"
            "button button";

            .form-group:nth-child(1) { grid-area: firstName; }
            .form-group:nth-child(2) { grid-area: lastName; }
            .form-group:nth-child(3) { grid-area: email; }
            .form-group:nth-child(4) { grid-area: password; }
            .form-group:nth-child(5) { grid-area: confirmPassword; }
            .form-group-checkbox { grid-area: checkbox; }
            button { grid-area: button; }
        }
    }
}