.sign-in {
    
    h1 {
        @include h3;

        @include md {
            @include h2;
        }

        @include lg {
            @include h1;
        }
    }
    .container {
        display: grid;
    }

    .grid-container {
        width: 80%;
        justify-self: center;

        @include lg {
            width: 45%;
        }
    }

    h1 {
        margin-bottom: 1rem;
    }

    .sign-in-form {
        display: grid;
        gap: 1rem;
    }

    a {
        text-align: center;
    }
}