<div class="app">
    <div class="container">
        <div>
            <img src="~/images/home/app/phone-app.svg" alt="">
        </div>
        <div class="text-holder">
            <h1>Download Our App for Any Devices:</h1>

            <div class="rating">
                <p>App Store</p>
                <img src="~/images/home/app/rating.svg" alt="">
            </div>
            <div class="store">
                <div>
                    <h4>Editor's Choice</h4>
                    <p>rating 4.7, 187k+ reviews</p>
                </div>
                <img src="~/images/home/app/appstore.svg" alt="">
            </div>

            <div class="rating">
                <p>Google Play</p>
                <img src="~/images/home/app/rating.svg" alt="">
            </div>
            <div class="store">
                <div>
                    <h4>App of the Day</h4>
                    <p>rating 4.8, 30k+ reviews</p>
                </div>
                <img src="~/images/home/app/googleplay.svg" alt="">
            </div>
        </div>
    </div>
</div>