<div class="app">
    <div class="container">

        <div class="heading-holder"><h1>Download Our App for Any Devices:</h1></div>
        <div class="img-holder">
            <img src="~images/home/app/phone-app.svg" alt="">
        </div>

        <div class="appstore">
            <div class="store">
                <p>App Store</p>
                <img src="~images/home/app/rating.svg" alt="">
                <div class="flex-container">
                    <div>
                        <h4>Editor's Choice</h4>
                        <p>rating 4.7, 187k+ reviews</p>
                    </div>
                    <img class="store-img" src="~images/home/app/appstore.svg" alt="">
                </div>
            </div>
        </div>

        <div class="googleplay">
            <div class="store">
                <p>Google Play</p>
                <img src="~images/home/app/rating.svg" alt="">
                <div class="flex-container">
                    <div>
                        <h4>App of the Day</h4>
                        <p>rating 4.8, 30k+ reviews</p>
                    </div>
                    <img class="store-img" src="~images/home/app/googleplay.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>