<div class="features">
    <div class="container">
        <div class="text-holder">
            <h1>What Do You Get with Our Tool?</h1>
            <p class="text-lg">Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>
        <div class="grid">
            <div class="grid-item">
                <img src="images/home/features/icon1.png" alt="">
                <h5>Comments on Tasks</h5>
                <p id="">Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="grid-item">
                <img src="images/home/features/icon2.png" alt="">
                <h5>Tasks Analytics</h5>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>
            </div>
            <div class="grid-item">
                <img src="images/home/features/icon3.png" alt="">
                <h5>Multiple Assignees</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="grid-item">
                <img src="images/home/features/icon4.png" alt="">
                <h5>Notifications</h5>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>
            </div>
            <div class="grid-item">
                <img src="images/home/features/icon5.png" alt="">
                <h5>Sections & Subtasks</h5>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>
            </div>
            <div class="grid-item">
                <img src="images/home/features/icon6.png" alt="">
                <h5>Data Security</h5>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>
            </div>
        </div>
    </div>
</div>