<div class="manager">
    <div class="container">
        <div><img src="images/home/manager/manager-image.svg" alt=""></div>
        <div>
            <h2>Manage Your Work</h2>
            <ul>
                <li><i class="fa-light fa-circle-check"></i>Powerful project management</li>
                <li><i class="fa-light fa-circle-check"></i>Transparent work management</li>
                <li><i class="fa-light fa-circle-check"></i>Manage work & focus on the most important tasks</li>
                <li><i class="fa-light fa-circle-check"></i>Track your progress with interactive charts</li>
                <li><i class="fa-light fa-circle-check"></i>Easiest way to track time spent on tasks</li>
            </ul>
            <button class="btn-theme">Learn more</button>
        </div>
    </div>
</div>
