<div class="showcase">
    <img class="bg-image" src="~/images/home/showcase/showcase.svg" alt="">
    <div class="container">
        <div class="showcase-text">
            <div class="text-holder">
                <h1>Task Management Assistant You Gonna Love</h1>
                <p class="text-lg">We offer you a new generation of task management system. Plan, manage & track all your tasks in one flexible tool.</p>
                <button class="btn-theme-s">Get started for free</button>
            </div>
            <div>
                <h6>Largest companies use our tool to work efficiently</h6>
                <div class="logo-holder">
                    <img src="~/images/home/showcase/brand1.png" alt="">
                    <img src="~/images/home/showcase/brand2.png" alt="">
                    <img src="~/images/home/showcase/brand3.png" alt="">
                    <img src="~/images/home/showcase/brand4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
