<div class="subscribe">
    <div class="container">
        <div class="content-holder">
            <div class="title-holder">
                <h1>Don't Want to Miss Anything?</h1>
                <img src="~/images/home/subscribe/arrows.svg" alt="">
            </div>
            <div class="checkbox-container">
                <h5>Sign up for Newsletters</h5>
                <div class="checkbox-holder">
                    <div class="text-s"><input type="checkbox"><label for="">Daily Newsletter</label></div>
                    <div class="text-s"><input type="checkbox"><label for="">Event Updates</label></div>
                </div>
                <div class="checkbox-holder">
                    <div class="text-s"><input type="checkbox"><label for="">Advertising Updates</label></div>
                    <div class="text-s"><input type="checkbox"><label for="">Startups Weekly</label></div>
                </div>
                <div class="checkbox-holder">
                    <div class="text-s"><input type="checkbox"><label for="">Week in Review</label></div>
                    <div class="text-s"><input type="checkbox"><label for="">Podcasts</label></div>
                </div>
            </div>
            <div class="form-holder">
                <form>
                    <input type="text" placeholder="Your Email">
                    <button class="btn-theme">Subscribe*</button>
                </form>
                <p class="text-s">*Yes, I agree to the <a href="#">terms</a> and <a href="#">privacy policy</a></p>
            </div>
        </div>
    </div>
</div>
