<div class="themes">
    <div class="dark"></div>
    <div class="light"></div>
    <div class="content-holder">
        <h1 id="white">Switch Between</h1>
        <h1 id="black">Light & Dark Mode</h1>
        <img src="images/home/themes/themes.svg" alt="">
    </div>
</div>
