.contact {
    background-color: $gray-100;
    padding-top: 3rem;
    padding-bottom: 3rem;

    @include lg {
        padding-bottom: 8rem;
    }

    .content-container {
        padding-top: 2rem;
        display: flex;

        @include md {
            position: relative;
        }
    }

    .text-s {
        color: $gray-600;
    }

    .contact-container {
        display: none;

        @include md {
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 50%;

            h1 {
                @include h3;

                @include lg {
                    @include h1;
                }
            }
        }

        @include lg {
            width: 30%;
        }
    }

    .content-holder {
        display: grid;
        gap: 1rem;
        grid-template-columns: 0.1fr 0.9fr;
        grid-template-areas:
            "icon title" "icon text" "icon link";

        h4 {
            grid-area: title;
            justify-content: center;
        }

        p {
            grid-area: text;
            font-size: 14px;

            @include lg {
                font-size: 16px;
            }
        }

        a {
            grid-area: link;

            i {
                padding-left: 0.5rem;
            }
        }

        .icon-holder {
            grid-area: icon;

            i {
                color: $theme;
                background-color: $white;
                border-radius: 50%;
                padding: 0.8rem;
                font-size: 20px;

                @include lg {
                }
            }
        }
    }

    .form-holder {
        background-color: $white;
        border-radius: 10px;
        width: 100%;
        padding: 1rem;
        @include shadow-m;

        h2 {
            @include h4;
        }

        @include md {
            padding: 2rem;
            position: absolute;
            width: 50%;
            right: 0;
            z-index: 2;

            h2 {
                @include h4;
            }
        }

        @include lg {
            padding: 4rem;
            width: 50%;

            h2 {
                @include h2;
            }
        }
    }

    form {
        display: grid;
        gap: 1.5rem;

        textarea {
            height: 100px;

            @include lg {
                height: 200px;
            }
        }
    }

    input, textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px $gray-400 solid;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        resize: none;
    }
}

.dark-mode {
    .contact {

        .content-holder {

            .icon-holder {

                i {
                    background-color: $black;
                }
            }
        }

        .form-holder {
            background-color: $black;

            label {
                color: $white;
            }
        }
    }
}
