.features {
    background-color: $gray-100;
    padding-top: 5%;
    padding-bottom: 5%;

    .container {
        text-align: center;
        display: grid;
    }

    .text-holder {
        display: grid;
        place-self: center;

        p {
            @include text-lg;
            color: $gray-600;
            margin-top: 1rem;
            width: 90%;
            place-self: center;
        }

        h1 {
            @include h3;
        }

        @include md {
            margin-bottom: 2rem;

            h1 {
                @include h2;
            }
        }

        @include lg {

            p {
                
            }
            
            h1 {
                @include h1;
            }
        }


    }

    .grid {
        background-color: $gray-300;
        display: grid;
        justify-content: center;
        gap: 0.1rem;

        @include md{
            grid-template-columns: repeat(2, 1fr);
        }

        @include lg{
            grid-template-columns: repeat(3, 1fr);
        }
    }


    .grid-item {
        background-color: $gray-100;
        padding: 2rem;

        img {
            padding-bottom: 1rem;
        }

        &:hover {
            background-color: $white;
            border-radius: 5px;
            @include theme-secondary-shadow;
        }
    }
}