.manager {

    .container {
        display: grid;
        padding-top: 4%;
        
        @include lg {
            grid-template-columns: 1fr 1fr;
        }

        @include xl {
            grid-template-columns: 1.5fr 1fr;
        }
    }

    img {
        width: 80%;

        @include lg {
            width: 100%;
        }
    }

    .list-holder {
        justify-self: center;
        align-self: center;

        h2 {
            @include h4;
        }

        li {
            @include text-s;
        }

        @include lg {
            h2 {
                @include h3;
            }

            li {
                @include text-m;
            }
        }

        @include xl {
            h2 {
                @include h2;
            }

            li {
                @include text-lg;
            }
        }
    }

    ul {
        padding-top: 1rem;
        padding-bottom: 2rem;
        display: grid;
        gap: 1rem;
    }

    i {
        margin-right: 0.5rem;
        color: $theme;
    }
}

.dark-mode {
    
    .manager {
        background-color: $gray-900;

        .container {
            background-color: $gray-900;
        }
    }
}