.showcase {
    display: grid;
    
    .bg-image {
        display: none;
    }

    .container {
        display: grid;
        padding: 0 2rem 2rem 2rem;
    }
    
    .text-holder {
        display: grid;
        gap: 0.5rem;
        margin-bottom: 2rem;
        
        h1 {
            @include h3;
        }

        button {
            width: 60%;
        }
    }

    .logo-holder {
        display: grid;
        gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1rem;
    }

    @include md {
        h1 {
            @include h2
        }

        .text-holder {
            
            button {
                width: 40%;
            }
        }

        .logo-holder {
            grid-template-columns: repeat(4, 1fr);
        }
    }



    @include lg {
        grid-template-areas: "stack";
        
        .bg-image {
            display: block;
            grid-area: stack;
            width: 50%;
            position: relative;
            left: 50%;
        }

        .container {
            grid-area: stack;
            padding: 0;
        }

        .showcase-text {
            width: 40%;
            display: grid;
        }
    
        .text-holder {
            display: grid;
            gap: 1.5rem;
            align-content: center;

            h1 {
                @include d6;
            }
    
            button {
                width: 40%;
            }
        }
    
        .logo-holder {
            display: flex;
            gap: 1.5rem;
            margin-top: 2rem;
        }
    }

    @include xl {

        .text-holder {

            h1 {
                @include d4;
            }
        }
    }
}