.subscribe {
    background-color: $gray-200;
    padding-top: 5%;
    padding-bottom: 5%;

    .container {
        display: grid;
        place-items: center;
    }

    .title-holder {
        display: flex;

        h1 {
            @include h4;
        }

        img {
            width: 10%;
        }
    }

    form {
        display: grid;
        width: 90%;
        gap: 0.5rem;
        grid-template-areas:
        "title title"
        "signup image-arrow"
        "checkboxes checkboxes"
        "email email"
        "error error"
        "button button"
        "terms terms";

        @include sm {
            grid-template-areas:
            "title image-arrow"
            "signup signup"
            "checkboxes checkboxes"
            "email email"
            "error error"
            "button button"
            "terms terms";
        }

        @include lg {
            width: 80%;
            grid-template-columns: 0.8fr 1fr 1fr 1fr;
            grid-template-areas:
            "title title title image-arrow"
            "signup checkboxes checkboxes checkboxes"
            "signup checkboxes checkboxes checkboxes"
            "email email email button"
            "error error error error"
            "terms terms terms terms";
        }

        @include xl {
            width: 70%;
        }

        h1 {
            grid-area: title;
            @include h4;

            @include sm {
                @include h3;
            }

            @include md {
                @include h2;
            }

            @include xxl {
                @include h1;
            }
        }

        h5 {
            grid-area: signup;
        }
        
        img { grid-area: image-arrow}
        
        .checkbox-container {
            grid-area: checkboxes;
            display: grid;
            gap: 0.5rem;
            grid-template-areas:
            "daily event"
            "advertising startups"
            "week podcasts";

            @include lg {
                grid-template-areas:
                "daily advertising week"
                "event startups podcasts";
            }

            label {
                align-self: center;
            }

            .box:nth-child(1) {grid-area: daily;}
            .box:nth-child(2) {grid-area: event;}
            .box:nth-child(3) {grid-area: advertising;}
            .box:nth-child(4) {grid-area: startups;}
            .box:nth-child(5) {grid-area: week;}
            .box:nth-child(6) {grid-area: podcasts;}
        }
        .email-input {grid-area: email;}

        span {
            grid-area: error;
        }

        .btn-theme {
            grid-area: button;
            place-self: center;
            width: 60%;

            @include lg {
                height: 100%;
                width: 80%;
            }
        }

        .terms-text {
            grid-area: terms;
            place-self: center;

            @include lg {
                place-self: start;
            }
        }

        .box {
            color: $gray-600;
            display: flex;
            gap: 0.5rem;
        }
        
    }
}

.dark-mode {
    
    .subscribe {
        background-color: #151822;
    }
}